.dice-face {
  align-items: center;
  background-color: lightgrey;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  grid-template-areas:
    "a . c"
    "e g f"
    "d . b";
  height: 10rem;
  justify-items: center;
  width: 10rem;
}

.dice-dot {
  background-color: crimson;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;

  &:nth-child(2) {
    grid-area: b;
  }

  &:nth-child(3) {
    grid-area: c;
  }

  &:nth-child(4) {
    grid-area: d;
  }

  &:nth-child(5) {
    grid-area: e;
  }

  &:nth-child(6) {
    grid-area: f;
  }

  &:nth-child(odd):last-child {
    grid-area: g;
  }
}
